# Archivos de Visual Studio
.vs/
*.user
*.suo

# Archivos de compilación
bin/
obj/

# Archivos temporales
*.log
*.dbmdl
*.vsp
*.vsscc
*.cache
*.pdb

# Configuración local
*.local.json

# Archivos de sistema
Thumbs.db
Desktop.ini
