@{
    ViewData["Title"] = "Reportes";
}

<h2>Reportes</h2>

<div style="margin-top: 20px;">
    <a href="@Url.Action("CorteDiario", "Reportes")" class="btn btn-primary">Corte Diario</a>
    <!-- Agrega más botones para otros reportes aquí en el futuro -->
</div>

<div style="margin-top: 20px;">
    <a href="@Url.Action("ReporteSemanal", "Reportes")" class="btn btn-primary">Reporte Semanal</a>
    <!-- Agrega más botones para otros reportes aquí en el futuro -->
</div>